@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 200;
  src: local('Lato Regular'), local('Lato-Light'), url('../fonts/Lato-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/Lato-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url('../fonts/Lato-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url('https://fonts.gstatic.com/s/lato/v11/LqowQDslGv4DmUBAfWa2Vw.ttf') format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url('https://fonts.gstatic.com/s/ubuntumono/v6/ViZhet7Ak-LRXZMXzuAfkZ0EAVxt0G0biEntp43Qt6E.ttf') format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Mono Bold'), local('UbuntuMono-Bold'), url('https://fonts.gstatic.com/s/ubuntumono/v6/ceqTZGKHipo8pJj4molytp_TkvowlIOtbR7ePgFOpF4.ttf') format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Mono Italic'), local('UbuntuMono-Italic'), url('https://fonts.gstatic.com/s/ubuntumono/v6/KAKuHXAHZOeECOWAHsRKA-LrC4Du4e_yfTJ8Ol60xk0.ttf') format('truetype');
}
@font-face {
  font-family: 'IndustryInc';
  src: url('../fonts/IndustryInc.otf');
}
@font-face {
  font-family: 'Heuristica';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Heuristica-Regular.otf')
}
@font-face {
  font-family: 'Heuristica';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Heuristica-Bold.otf')
}
@font-face {
  font-family: 'Heuristica';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/Heuristica-Italic.otf')
}

body {
  font-family: 'Heuristica', serif;
}

.remark-fading {
  visibility: hidden;
}
.remark-slides-area {
  background-color: #ccc;
  background-image: url('../images/grid.png');
  background-size: 50px 50px;
}
.remark-slide-scaler {
}
.remark-slide-content {
  color: #777;
}
.remark-slide-container:not(:first-of-type) .remark-slide {
  width: calc(100% - 40px);
  margin-left: 20px;
  box-shadow: 0 0 10px #777;
}
.remark-slide-content h1 {
  font-family: 'IndustryInc', sans-serif;
  font-weight: normal;
  font-size: 1.8em;
  color: #00a4e4
}
.remark-slide-content h1 {
  margin: 0;
  margin-bottom: 0.5em;
}
.condensed.remark-slide-content h2 {
  margin: 0.1em 0;
}
.condensed.remark-slide-content h2 {
  margin: 0.1em 0;
}
.remark-slide-content h2, h3 {
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
  color: #777;
}
.remark-slide-content h3 {
  font-size: 1em;
  color: #777;
}
.remark-slide-content {
  font-size: 30px;
}
.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
}
.remark-slide-number {
  font-family: 'Lato';
  font-size: 0.4em;
  color: #fff;
  width: calc(100% - 40px);
  bottom: 0;
  left: 20px;
  right: 20px;
  padding: 5px 0px;
  background-color: #00B0F0;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.presentation-date {
  width: 20%;
  display: inline-block;
  margin-left: 20px;
  text-align: left;
}
.confidential {
  flex-grow: 1;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  content: 'Luottamuksellinen';
  margin: 0 25%;
}
.slide-number {
  width: 5%;
  display: inline-block;
  text-align: right;
}
.small-logo {
  width: 15%;
  text-align: right;
  margin-right: 20px;
}
.small-logo > img {
  height: 25px;
}
.title {
  background-image: url('../images/nitor_title_slide.jpg');
  background-size: cover;
  background-color: #111;
  color: #fff;
}
.title p {
  margin-bottom: 0.3em;
}
.title img {
  width: 50%;
}
.title.remark-slide-content h1,
.title.remark-slide-content h2,
.title.remark-slide-content h3 {
  color: #fff;
}
.title.remark-slide-content h1 {
  font-size: 2.2em;
}
.title.remark-slide-content h2 {
  font-family: 'Lato';
  font-size: 0.9em;
  text-transform: uppercase;
}
.title .remark-slide-number {
  visibility: hidden;
}
.section.bottom.remark-slide-content h1 {
  margin-bottom: 3em;
}

ul li {
  list-style-type: none;
  padding-left: 1em;
  padding-top: 0.5em;
}
.remark-notes h3 {
  margin: 0.5em 0;
}
.remark-notes ul {
  margin: 0;
}
.remark-notes ul li {
  list-style-type: inherit;
  padding: 0;
  padding-left: 0.5em;
}


@page {
  size: 1210px 681px;
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

/* specific for this presentation */

h2.number {
  margin-top: 2em;
  width: 100%;
  text-align: center;
  font-family: 'IndustryInc';
  font-size: 2.5em;
  color: #111;
}
div.number {
  font-family: 'IndustryInc';
  font-size: 1.5em;
  color: #777;
}

a:visited {
  color: blue;
}

/* Background images */

.people {
  background-image: url('../images/people.jpg');
  background-size: cover;
  background-position: 0px 0px;
}

.validate {
  background-image: url('../images/validate.jpg');
  background-size: cover;
  background-position: 0px 0px;
}

.computer {
  background-image: url('../images/computer.jpg');
  background-size: cover;
  background-position: 0px 0px;
}

.software {
  background-image: url('../images/software.jpg');
  background-size: cover;
  background-position: 0px 0px;
}
